@import './partials/posters';
@import './vars';
@import './partials/header';
@import './partials/pagination';
@import './partials/buttons';
@import './partials/footer';
@import './partials/modal';
@import './partials/loader';
@import './partials/signIn';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container {
  max-width: $mobile-size;
  padding-inline: 1.25rem;
  margin: 0 auto;
}

@media screen and (min-width: $tablet-size) {
  .container {
    max-width: $tablet-size;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: $desktop-size) {
  .container {
    max-width: $desktop-size;
  }
}

.waiting {
  visibility: hidden;
}
