<div class="header header--library">
  <div class="container">
    <div class="header__main">
      <div class="header__title">
        <a href="./index.html">
          <img src="./assets/images/logo.svg" alt="logo" class="header__title__logo" />
        </a>
        <a href="./index.html">
          <h1 class="header__title__name">Filmoteka</h1>
        </a>
      </div>

      <nav class="header__nav">
        <a href="./index.html">HOME</a>
        <a href="./library.html" class="header__nav__active">MY LIBRARY</a>
      </nav>
    </div>
    <form id="search-form" class="header__form hidden">
      <input class="header__form__input" id="search-input" type="text" placeholder="Movie search" />
      <img class="header__form__icon" src="./assets/images/search_icon.svg" alt="search-icon" />
      <p id="search-error" class="header__form__error hidden">
        Search result not successful. Enter the correct movie name and try again.
      </p>
    </form>
    <div class="header--library__buttons">
      <button id="user-watched-btn" class="button">WATCHED</button>
      <button id="user-queue-btn" class="button">QUEUE</button>
    </div>
  </div>
</div>
